
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantillaTema/plantilla}">

<head>
<title>Mega Able bootstrap admin template by codedthemes</title>
</head>

<body>
	<div layout:fragment="espaciocontenidohtml">
		<div class="pcoded-content">
			<!-- Page-header start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-8">
							<div class="page-header-title">
								<h5 class="m-b-10">Lista de Inscripcion</h5>
								<p class="m-b-0">Lorem Ipsum is simply dummy text of the
									printing</p>
							</div>
						</div>
						<div class="col-md-4">
							<ul class="breadcrumb-title">
								<li class="breadcrumb-item"><a href="index.html"> <i
										class="fa fa-home"></i>
								</a></li>
								<li class="breadcrumb-item"><a href="#!">Pages</a></li>
								<li class="breadcrumb-item"><a href="#!">Sample Page</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Page-header end -->
			<div class="pcoded-inner-content">
				<div class="main-body">
					<div class="page-wrapper">
						<div class="page-body">
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
										<div class="card-header">
											
											<span> <a th:href="@{/nuevoinscripcion}" class="btn"><i
													class="ti-plus"></i></a>
											</span>
											<div class="card-header-right">
												<ul class="list-unstyled card-option">
													<li><i class="fa fa-chevron-left"></i></li>
													<li><i class="fa fa-window-maximize full-card"></i></li>
													<li><i class="fa fa-minus minimize-card"></i></li>
													<li><i class="fa fa-refresh reload-card"></i></li>
													<li><i class="fa fa-times close-card"></i></li>
												</ul>
											</div>
										</div>
										<div class="card-block">
											<table class="table">
												<thead>
													<tr>
														<th scope="col">Codigo</th>
														<th scope="col">Estudiante</th>
														<th scope="col">Curso</th>
														<th scope="col">Fecha</th>
														<th scope="col">Estado</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ins: ${lista}">
														<td th:text="${ins.idInscripcion}"></td>
														<td th:text="${ins.fkEstudiante.nombre}"></td>
														<td th:text="${ins.FkCurso.nombre}"></td>
														<td th:text="${ins.fechaInscripcion}"></td>
														<td th:text="${ins.estado}"></td>
														<td><a th:href="@{/editarinscripcion/}+ ${ins.idInscripcion}"
															class="btn"><i class="ti-pencil-alt"></i></a> <a
															th:href="@{/eliminarinscripcion/}+ ${ins.idInscripcion}"
															class="btn "
															onclick="return confirm('¿Esta seguro que desea eliminar el registro?')"><i
																class="ti-trash"></i></a></td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>